*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Sharing Style */
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.btn{
  background-color: #469165;
  padding: 12px 16px;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 600;
}

.btn:hover{
  background-color: brown;
}

/* Main Style */

/* Section - 1 */
header{
  background-color: #FFFFFF;
}

nav{
  width: 85%;
  max-width: 1360px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  align-items: center;
}

nav .logo image{
  max-width: 139px;
}

nav .menu ul{
  list-style: none;
  display: flex;
  gap: 32px;
  font-size: 16px;
  font-weight: 500;
  padding: 34px 0;
}

.menu ul a{
  text-decoration: none;
  color: black;
}

/* Section - 2 */

#hero-banner{
  background-image: url('../images/hero-bg.png');
  width: 1600px;
  height: 674px;
}