*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Sharing Style */
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.btn{
  background-color: #469165;
  padding: 12px 16px;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.btn:hover{
  background-color: brown;
}

/* Main Style */

/* Section - 1 */
header{
  background-color: #FFFFFF;
}

nav{
  width: 85%;
  max-width: 1360px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  align-items: center;
}

nav .logo image{
  max-width: 139px;
}

nav .menu ul{
  list-style: none;
  display: flex;
  gap: 32px;
  font-size: 16px;
  font-weight: 500;
  padding: 34px 0;
}

.menu ul a{
  text-decoration: none;
  color: black;
}

/* Section - 2 */

#hero-banner{
  background-image: url('../images/hero-bg.png');
  width: 1600px;
  height: 100vh;
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}


.banner-container{
    width: 85%;
    max-width: 1360px;
    padding-top: 115px;
    margin: 0 auto;
    /* border: 1px solid gold; */
    text-decoration: center;
    justify-content: center;
}

#hero-banner .early-access{
  display: flex;
  align-items: center;
  padding: 8px 12px;
  border-radius: 20px;
  gap: 6px;
  margin: auto;
}

.banner-container .early-access p{
  color: #30B868;
  padding: 8px 12px;
  font-size: 16px;
  font-weight: 500;
}
.banner-container h1{
  font-size: 72px;
  font-weight: bold;
  line-height: 84px;
  color: white;
  padding-bottom: 16px;
}

.banner-container h1 span{
  color: #30B868;
}

.banner-container .banner-text p{
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 32px;
}

/* Button */
.button-group{
  gap: 16px;
}

.button-group .btn1{
  background-color: #30B868;
  border: none;
  padding: 16px;
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
}

.button-group .btn2{
   background-color: transparent;
  border: 1px solid white;
  padding: 16px;
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
}

/* Section - 3 */

#content{
  background-color: #FFFFFF;
}

#content .main-container{
  width: 85%;
  max-width: 1360px;
  margin: 0 auto;
  justify-content: space-between;
  /* border: 1px solid red; */
  padding-top: 35px;
}

#content .content-head{
  text-align: center;
}
#content .content-head h1{
  font-size: 48px;
  font-weight: bold;
  padding-bottom: 16px;
}

#content .content-head p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    padding-bottom: 44px;
}

#content .container-box{
  display: flex;
  gap: 24px;
  text-align: center;
}

#content .container-box .box-card{
  max-width: 322px;
  /* border: 1px solid greenyellow; */
  border-radius: 8px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
}

#content .container-box .box-card img{
  max-width: 60px;
  background-color: red;
  border-radius: 50%;
  padding: 14px;
}

#content .container-box .box-card h3{
  font-size: 24px;
  font-weight: 600;
  padding: 16px 0;
}

/* Section - 4 */

#brain-container{
  width: 85%;
  max-width: 1360px;
  padding: 120px;
  display: flex;
  gap: 60px;
}

#brain-container h4{
  font-size: 16px;
  font-weight: 500;
  color: #30B868;
}
#brain-container h1{
  font-size: 48px;
  font-weight: bold;
  color: #001931;
  padding-bottom: 16px;
}

#brain-container p{
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #627382;
  padding-bottom: 40px;
  text-align: justify;
}

#brain-container .check-list{
    list-style: none;
    color: black;
    font-size: 16px;
    margin-bottom: 40px;
}
#brain-container .check-list li{
    margin-bottom: 16px;
}

/* Section - 5 */

#ready-content{
  width: 85%;
  max-width: 1360px;
  background-color: #F7F6F2;
  margin: 0 auto;
  text-align: center;
}

#ready-content h1{
  padding-top: 80px;
  font-size: 40px;
  font-weight: bold;
}

#ready-content p{
  font-size: 16px;
  font-weight: 400px;
  padding: 16px 0;
  color: #627382;
}
